/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

header {
    background-color: white;
    height: 70px;
    padding: 10px;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

h2 {
    padding-top: 40px;
    padding-bottom: 10px;
}

li {
    list-style: none;
    padding-left: 8px;
    margin-bottom: 20px;
}

section {
    background-color: white;
}

.button {
    background-color: #47ADF1;
    border-radius: 5px;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.logo-word {
    display: inline-block;
    font-size: 2.5rem;
    vertical-align: middle;
}

.button-section {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 50px;
    margin-bottom: 3px;
}

.task-section {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 50px;
    padding-bottom: 25px;
}

.task-symbol {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
}

.green-checkmark {
    border: rgb(0, 255, 0) 1px solid;
    color: rgb(0, 255, 0);
}

.red-cross {
    border: red 1px solid;
    color: red;
}

.task-type {
    border-radius: 15px;
    color: white;
    padding: 7px;
    font-size: 0.7rem;
}

.bg-blue {
    background-color: #47ADF1;
}

.bg-green {
    background-color: #64C0A9;
}

.bg-violet {
    background-color: #9C72E4;
}

.bg-orange {
    background-color: #F29E33;
}

.bg-purple {
    background-color: #D863A1;
}

.bg-lightgreen {
    background-color: #B0C926;
}