/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

header {
    background-color: white;
    height: 70px;
    padding: 10px;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

h2 {
    padding-top: 40px;
    padding-bottom: 10px;
}

li {
    list-style: none;
    padding-left: 8px;
}

.button {
    background-color: #47ADF1;
    border-radius: 5px;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.logo-word {
    display: inline-block;
    font-size: 2.5rem;
    vertical-align: middle;
}

.button-section {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 50px;
    background-color: white;
}

.task-section {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 50px;
    padding-bottom: 25px;
    background-color: red;
}

.checkmark-symbol {
    border: rgb(0, 255, 0) 1px solid;
    color: rgb(0, 255, 0);
    border-radius: 50%;
}

.cross-symbol {
    border: red 1px solid;
    color: red;
    border-radius: 50%;
}