/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

header {
    background-color: white;
    height: 70px;
    padding: 10px;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.logo-word {
    display: inline-block;
    font-size: 2.5rem;
    vertical-align: middle;
}

.button-section {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 50px;
    background-color: blue;
}

.task-section {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 50px;
    background-color: red;
}